<header class="px-3 py-2 bg-light d-flex align-items-center custom-header">
    <a routerLink="/" class="d-flex align-items-center text-decoration-none custom-link">
        <img src="assets/eps.png" alt="Logo" width="50" height="50" class="me-2 logo-img">
        <h3 class="mb-0 fw-bold fst-italic custom-text">
            EMPLOYEE<br> PAYROLL
        </h3>
    </a>
</header>
<div><br><br><br><br></div>
<div class="container mt-4">
    <router-outlet></router-outlet>
    <!-- This is where routed components will load -->
</div>